<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Normal time</title>
</head>
<body>
    <h1>Normal time since 01.01.1939</h1>
    <p><%= `In real life you were absent for ${time.years()} years, ${time.months()} months, ${time.days()} days.` %></p>
    <a href="/">Back to the router</a>
</body>
</html>