<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Quantum time since 01.01.1939</h1>
    <p><%= `In quantum life you were absent for ${time[0]} years, ${time[1]} months, ${time[2]} days.` %></p>
    <a href="/">Back to the router</a>
</body>
</html>
