<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Router</title>
</head>
<body>
    <a href="/normal">Normal Time</a>
    <br>
    <a href="/quantum">Quantum Time</a>
</body>
</html>