body {
  background-color: #04819e;
  padding: 20px;
  font-family: 'Helvetica', sans-serif;
}
h1 {
  text-align: center;
  padding: 5px;
  background-color: #2419b2;
  border: 3px solid #530fad;
  border-radius: 10px;
  color: white;
}

.grid-container{
	display: grid;
	grid-gap: 30px;

}
.grid-item{
    border: 1px solid black;
  	border-radius: 10px;
  	background-color: #fff;
  	padding: 10px;
}

@media screen and (min-width: 1024px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .grid-item {
  	width: 95%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
  .grid-item {
  	width: 95%;
  }
}
@media screen and (max-width: 320px) {
	.grid-container {
    grid-template-columns: 1fr;
  }
  .grid-item{
    width: 96%;
}
