body{
    padding-left: 30px;
}

.box{
    background-color: lightgray;
    padding: 20px;
    position: absolute;
    left: 50px;
    right: 50px;
    margin: 20px;
}
.box::before{
    content: "";
    position: absolute;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    width: calc(100% + 60px);
    right: -30px;
    top: 0;
    bottom: 0;

}
.box::after{
    content: "";
    position: absolute;
    border-left: 1px solid black;
    border-right: 1px solid black;
    height: 118px;
    top: -30px;
    left: 0;
    right: 0;
}

